@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@500;700&family=Manrope:wght@300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Manrope", sans-serif;
}

body {
  @apply bg-white text-ocean-900 min-h-screen;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
}

input,
textarea {
  font-family: "Manrope", sans-serif;
}
